<!DOCTYPE html>

<html>
<head>
    <title>Частотный словарь</title>
</head>
<body>
    <div class="row mt-5 ">
        <div class="text-center">
            <h1 class="cover-heading">Your result:</h1>
            <p class="lead m-3 font-weight-normal ">
                @ViewBag.Result
            </p>
            <p class="lead mt-5">
                <a href="~/Question/QuestionPage" class="btn btn-lg btn-primary">Take the test again</a>
            </p>
        </div>
    </div>
</body>
</html>