@{
    ViewData["Title"] = "Частотный словарь";
}

<!DOCTYPE html>

<html>
<head>
    <title>Частотный словарь</title>
</head>
<body>
    <div class="row mt-5 ">
        <div class="text-center">
            <h1 class="cover-heading">How many words do you know?</h1>
            <p class="lead m-3 font-weight-normal ">English has hundreds of thousands of words, but day-to-day we use no more than a few thousand. 
            Take the test, find out how large your vocabulary is</p>
            <p class="lead mt-5">
                <a href="~/Question/QuestionPage" class="btn btn-lg btn-primary">Begin test</a>
            </p>
        </div>
    </div>
</body>
</html>
